{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blog delete</title>

    <link rel="stylesheet" href={% static "/style.css" %}>
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
</head>
<body>
    <header>
        <h1>Let's delete a post!</h1>
    </header>

    <section>
        {% block content %}
        <p style="color:Tomato">Are you sure about deleting this post?</p>
        <br>

        <form action="" method="POST">
            <h2> Title </h2>
            <h3 style="color: gray"> - {{ blog.title }} </h3>
            <br>

            <h2> Content </h2>
            <h3 style="color: gray"> - {{ blog.content }} </h3>
            <br>

            <h2> Public post </h2>
            <h3 style="color: gray"> - {{ blog.is_public }} </h3>

            <!--
            <table>
                <tr>
                    <th>Title</th>
                    <td>{{ blog.title }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ blog.content }}</td>
                    <td></td>
                </tr>
                <tr>
                    <th>Public post</th>
                    <td>{{ blog.is_public }}</td>
                </tr>
            </table>
        -->

            <br>
            <button type="submit">delete</button>
            {% csrf_token %}
        </form>
    </section>

    <footer>
        <button type="button" onclick="MyReload()">cancel</button>
    </footer>

    <script>
        function MyReload(){
            history.back();
            setTimeout(Reload, 50);
        }

        function Reload(){
            window.location.reload(true);
        }
    </script>
    {% endblock %}

</body>

</html>