{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blog detail</title>

    <link rel="stylesheet" href={% static "/style.css" %}>
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
</head>
<body>


    <header>
        <h1>{{ blog.title }}</h1>
        <h2>Written by {{ blog.author }}</h2>
        <h3>Created at {{ blog.created_at }}</h2>
    </header>
    
    <section>
        {{ blog.content|safe }}
    </section>

    <footer>
        <button type="button" onclick="MyReload()">back</button>
    </footer>

    <script>
        function MyReload(){
            history.back();
            setTimeout(Reload, 50);
        }

        function Reload(){
            window.location.reload(true);
        }
    </script>
</body>

</html>