{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>

    {% if user.is_authenticated %}
        <button onclick="location.href='user'">user page</button>
    {% else %}
        Press login button to post a blog.
        {% csrf_token %}
        <button onclick="location.href='login'">login</button>

        <br>
        Don't have an account? Then signup first.
        {% csrf_token %}
        <button onclick="location.href='signup'">signup</button>
    {% endif %}

    <br>
    <br>
    <br>
    <h3> Recent Posts</h3>
    <form action="" method="POST">
        {{ specify_author_form }}
        <button type="submit">Search</button>
        {% csrf_token %}
    </form>
    <form action="" method="POST">
        {{ specify_date_form }}
        <button type="submit">Search</button>
        {% csrf_token %}
    </form>

    <br>

    {% for blog in blogs %}
    <li>
        <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
    </li>
    {% endfor %}

    <br>
    
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
    {% endif %}

    {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}

    <br>
    <br>
    <br>
    {% csrf_token %}
    <a href="{% url 'other' %}">See the list of authors</a>
</body>
</html>