{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    Press login button to post a blog.
    {% csrf_token %}
    <button onclick="location.href='login'">login</button>

    <br>
    Don't have an account? Then signup first.
    {% csrf_token %}
    <button onclick="location.href='signup'">signup</button>

    <br>
    <br>
    <br>
    <h3> Recent Posts</h3>
    {% for blog in blogs %}
    <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
    {% endfor %}
</body>
</html>