{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Your information</title>
</head>
<body>
    <h1>Welcome back, {{ user.username }}!</h1>
    <p>Account creation date: {{ user.date_joined }}</p>

    <h1>Your posts</h1>
    <ul>
    {% for blog in blogs %}
    {% if user.is_authenticated or blog.is_public %}
    <li>{% if not blog.is_public %}[draft] {% endif %}
        <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
        <a href="{% url 'blog_update' blog.pk %}">update</a>
        <a href="{% url 'blog_delete' blog.pk %}">delete</a>
    {% endif %}
    {% empty %}
    You don't have any posts yet.
    {% endfor %}
    </ul>

    {% csrf_token %}
    <button onclick="location.href='../blog/add'">create new post</button>
    <br>
    <br>
    <br>
    {% csrf_token %}
    <button onclick="location.href='../logout'">logout</button>
</body>

</html>